@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #f4d03f linear-gradient(0deg, #f4d03f 0%, #11836c 100%);

  background-repeat: no-repeat !important;
}

#card {
  width: 148px;
  height: 240px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid rgba(84, 116, 11, 0.747);
  border-radius: 2%;
  box-shadow: 10px 5px 5px black;
}

label {
  margin: 2% 2% 2% 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
#pokerIconos1 {
  padding-left: 3%;
  font-size: 40px;
  margin-top: 2%;
}

#pokerIconos2 {
  padding-left: 75%;
  font-size: 40px;
  margin-top: 35%;
}

#pokerCards {
  padding-left: 40%;
  font-size: 40px;
  margin-top: 22%;
}

.red {
  color: red;
}
.black {
  color: black;
}

#misCartas {
  display: flex;
}

#cartasOrdenadas {
  display: flex;
}

button {
  margin: 2% 2% 2% 2%;
  border-radius: 5px;
  background-color: #c850c0;
  color: aliceblue;
  width: 150px;
  height: 30px;
}
